#hero-section {
    height: 100vh;
    width: 100%;
    background: url("../../assets/hero-bg-2.jpg");
    background-size: cover;
    padding-top: 87px;
    background-position: center;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#hero-section .container {
    background-color: rgba(233, 234, 235, .7);
    padding: 20px 20px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px); /* Safari and older versions of Chrome */
    transition: .7s;
    transform: translateX(calc(100vw + 100%));
}


.hero-title {
    font-size: 26px;
    color: var(--text-color);
}

.hero-explanation {
    font-weight: 400;
    margin: 5px 0px 15px;
    color: var(--text-color);
}

.cta-button {
    display: inline-block;
    color: #EEEEEE;
    background-color: #191919;
    padding: 10px 10px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid #191919;
    transition: .3s;
}

.cta-button:hover {
    background-color: transparent;
    color: #191919;
}


@media(min-width:576px) {

    #hero-section .container {
        border-radius: 20px;
    }

    .hero-title {
        font-size: 35px;
    }

    .hero-explanation {
        font-size: 18px;
        margin: 5px 0px 20px;
    }
}


@media(min-width:768px) {
    .hero-title {
        font-size: 40px;
    }

    .hero-explanation {
        font-size: 22px;
        margin: 2px 0px 24px;
    }

    .cta-button {
        font-size: 18px;
    }
}