.main-header {
    padding: 15px 0px;
    position: fixed;
    top: -200px;
    width: 100%;
    transition: top 0.5s;
    z-index: 10;
}

.main-header .container {
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 10px 15px;
    border-radius: 10px;
    background-color: rgba(232, 229, 228, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(10px); /* Safari and older versions of Chrome */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: .3s;
    max-height: 57px;
    overflow: hidden;
}

.navbar-links .navbar-item {
    margin: 0px 10px;
}

.navbar-link {
    transition: color .3s;
}

.navbar-links .navbar-item:hover .navbar-link {
    color: rgba(0, 0, 0, 0.4);
}

.navbar--navbar-2 {
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px -3px;
}

.navbar-item {
    cursor: pointer;
}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #191919;
    letter-spacing: 1.2px;
    font-size: 18px;
    padding-left: 5px;
}

.navbar svg {
    width: 100%;
    height: 100%;
    transition: .3s;
}

.navbar-links {
    display: none;
}

.navbar__toggle-button {
    cursor: pointer;
    padding-right: 5px;
}

.navbar-links__toggle {
    width: 100%;
}

.navbar-menu__open {
    max-height: 217px;
}

.navbar-links__toggle .navbar-item {
    padding: 5px;
    transition: background-color .3s;
    border-radius: 10px;
}

.navbar-links__toggle .navbar-item:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar-link {
    color: black;
    font-weight: 600;
}

.navbar-links__toggle {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.navbar-toggle__active {
    opacity: 1;
    pointer-events: auto;
}




@media(min-width:768px) {
    .navbar__toggle-button {
        display: none;
    }

    .navbar-links {
        display: flex;
    }
}