.account-button {
    font-family: "Manrope";
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #777;
    background-color: #ffffff;
    outline: none;
    color: #191919;
    font-weight: 600;
    font-size: 18px;
    height: 100%;
    text-align: center;
    width: 100%;
}


.account-button .social-media__name {
    margin: 3px 0px;
}

.account-button span {
    font-size: 16px;
    cursor: pointer;
    display: block;
}

.account-button .account-information__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: .3s;
    left: 0;
    top: 0;
    z-index: 11;
    opacity: 0;
    pointer-events: none;
}

.account-button .account-information__modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.account-button .account-information__modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 450px;
    transition: .3s;
    transform: scale(0.3);
}

.account-button .account-information__modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.account-button .account-information__modal-header-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .3s;
}

.account-button .account-information__modal-header-close i {
    color: black;
}

.account-button .account-information__modal-header-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media(min-width:576px) {
    .account-button {
        border-radius: 20px;
    }

    .account-button .social-media__name {
        margin: 5px 0px;
        font-size: 18px;
    }

    .account-button .account-name {
        font-size: 18px;
    }

    .account-button span {
        font-size: 18px;
    }
}

.account-information__modal-body {
    font-size: 15px;
    text-align: left;
}

.account-information__modal.active .account-information__modal-content {
    transform: scale(1);
}

.delete-button__wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.delete-button {
    padding: 10px;
    background-color: #ff7d7d;
    border-radius: 15px;
    color: #ffffffc4;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.delete-button:hover {
    background-color: #ff7d7dc0;
}

.edit-button__wrapper {
    margin-top: 10px;
}

.edit-button {
    padding: 10px;
    background-color: var(--text-color);
    border-radius: 15px;
    color: #ffffffc4;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}

.edit-button:hover {
    background-color: #191919b2;
}


.edit-modal .account-information__modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit-modal input {
    border: 1px solid #777;
    font-family: "Manrope", "sans-serif";
    font-weight: 600;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .3s;
}

.edit-modal input:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
}

.save-button{
    border: none;
    font-family: "Manrope", "sans-serif";
    padding: 10px;
    background-color: #ff7d7d;
    border-radius: 15px;
    color: #ffffffc4;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}


.save-button:hover {
    background-color: #ff7d7dc0;
}


@media(min-width:768px){
    .account-button{
        width: unset;
    }
}