#accounts-modal {
    transition: .3s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 11;
}

.active {
    opacity: 1 !important;
    pointer-events: auto !important;
}

#accounts-modal.active .modal-content {
    transform: scale(1);
}

#accounts-modal .modal-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center
}

#accounts-modal .modal-content {
    background-color: #EEEEEE;
    border-radius: 15px;
    position: relative;
    max-width: calc(100% - 20%);
    width: 100%;
    transition: .3s;
    transform: scale(0.3);
    max-height: 300px;
    overflow: auto;
}

#accounts-modal .close-icon {
    color: #191919;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.material-symbols-outlined {
    font-weight: bold;
    transition: background-color .3s;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #191919;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal-body {
    padding: 15px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    justify-content: center;
    gap: 10px;
}


.social-media__logo img {
    max-width: 100%;
    width: 100%;
}

@media(min-width:442px) {
    #accounts-modal .modal-content {
        width: 400px;
    }
}