.social-media__button {
    border: none;
    font-family: var(--normal-font);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    color: black;
    font-weight: 600;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .3s;
}

.social-media__button:hover {
    transform: scale(1.02);
    transform-origin: bottom;
}

.social-media__logo {
    max-width: 60px;
    width: 100%;
}

.social-media__logo svg {
    max-width: 100%;
    width: 100%;
}

.social-media__name {
    font-size: 16px;
}

