#what-is-smo {
    padding: 40px 0px;
}



#what-is-smo .section-title {
    font-size: 32px;
}

#what-is-smo .section-description {
    margin-top: 5px;
}

#what-is-smo .container .answer:nth-child(2) {
    margin-top: 32px;
}

.accordion-title h2 {
    font-size: 32px;
}

.accordion-title {
    margin-bottom: 15px;
}

.accordion-header {
    position: relative;
}

.accordion-container {
    margin-top: 32px;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    transform: translateY(-50px);
    opacity: 0;
}

.accordion-item {
    transition: all .3s;
    padding: 10px 20px;
    cursor: pointer;
    border-top: 1px solid #333;
    overflow: hidden;
}



.accordion-content p {
    padding: 10px 0px;
}


.accordion-item .accordion-header::after {
    content: "+";
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}



.accordion-item.active .accordion-header::after {
    content: "-";
}

.accordion-header p {
    font-size: 20px;
    font-weight: 600;
}


@media(min-width:576px) {
    .section-title {
        font-size: 34px;
    }

    #what-is-smo .section-description {
        font-size: 18px;
    }

    .accordion-title h2 {
        font-size: 34px;
    }

    .accordion-header p {
        font-size: 22px;
    }
}

.answer{
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
    transform: translateY(-50px);
    opacity: 0;
}

.fade-in{
    transform: translateY(0px);
    opacity: 1;
}