#add-account {
    background-color: #ff7d7d;
    color: #fff;
    position: relative;
}

#add-account .container {
    padding: 40px 20px;
}

.add-account__title {
    text-align: center;
    margin: 0 auto;
}

.img-wrapper {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
}

.img-wrapper img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#add-account .content {
    margin-top: 20px;
}

.add-account__button {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #777;
    background-color: #ffffff;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s, box-shadow .3s;
    color: #191919;
}

.add-account__button:hover {
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 0 4px 8px #6d2e2e
        /* Bluish box shadow */
}

#add-account .add-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #777;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-account .add-icon i {
    font-size: 20px;
}

#add-account .content-text {
    margin-top: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
}